@layer components {
    .base {
        position: relative;
    }

    /* Layout */

    .horizontal {
        transform: rotate(0deg);
    }

    .vertical {
        transform: rotate(90deg);
    }
}
